html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(to right, #b6b57f, #000000);
    color: #501b07;
    margin: 0px;
}
.header {
    display: flex;
    align-items: center;     
    justify-content: space-between;
    background: linear-gradient(to right, #000000, #b6b57f);
    padding: 0 40px; 
    
}
.nav ul {
    display: flex;
    gap: 23px;
    list-style: none;
    margin: 0;
    padding: 15;
}
.nav li a {
     text-decoration: none;
     color: #501b07;
     font-size: 20px;
}
.landing-page-img img {
    width: 400px;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 20px 0 #00000070;
    
}
.landing-page-img img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.landing-page {
    display: flex;
    align-items: center;     
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../assets/imgs/12.webp');
    background-size: cover; /* لضمان تغطية الصورة للشاشة بالكامل */
    background-position: center; /* لتوسط الصورة */
    background-repeat: no-repeat; /* لمنع تكرار الصورة */
    background-attachment: fixed; /* لتأثير تمرير عصري */
    color: #ffffff; /* تغيير لون النص إلى الأبيض ليتناسب مع الخلفية */
    border-radius: 0px 0px 20px 20px;
    
}
.landing-title {
    color: #501b07;
}
.welcome-phrases {
    color: #501b07;
}
.landing-description {
    color: #d6a316;
    line-height: 1.6;
    width: 500px;
    font-size: 20px;
}
.landing-content {
    padding: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;     
}

