html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(to right, #d48651, #b1590c);
    color: #501b07;
    margin: 0px;
}
.header {
    display: flex;
    align-items: center;     
    justify-content: space-between;
    background: linear-gradient(to right, #ddbca6, #8b5f38);
    padding: 0 40px; 
    
}
.nav ul {
    display: flex;
    gap: 23px;
    list-style: none;
    margin: 0;
    padding: 15;
}
.nav li a {
     text-decoration: none;
     color: #501b07;
     font-size: 20px;
}
.landing-page-img img {
    width: 300px;
    border-radius: 25px;
}
.landing-page {
    display: flex;
    align-items: center;     
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to right, #ddbca6, #8b5f38);
    border-radius: 0px 0px 20px 20px;
    
}
.landing-title {
    color: #501b07;
}
.welcome-phrases {
    color: #501b07;
}
.landing-description {
    color: #501b07;
    width: 300px;
}
.landing-content {
    padding: 20px;
    padding-top: 10px;
}
