html {
    scroll-behavior: smooth;
}
body {
    background-color: #ddd6c0;
    color: #501b07;
    margin: 0px;
}
.header {
    display: flex;
    align-items: center;     
    justify-content: space-between;
    background-color: #ddae87;
    padding: 0 40px; 
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav ul {
    display: flex;
    gap: 23px;
    list-style: none;
    margin: 0;
    padding: 15;
}
.nav li a {
     text-decoration: none;
     color: #501b07;
     font-size: 20px;
}
.landing-page-img img {
    width: 300px;
    border-radius: 25px;
}
.landing-page {
    display: flex;
    align-items: center;     
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #db9f6d;
    border-radius: 0px 0px 20px 20px;
    
}
.landing-page-content h1 h2 p {
    color:#501b07;
}
.landing-title {
    color: #501b07;
}
.welcome-phrases {
    color: #501b07;
}
.landing-description {
    color: #501b07;
    width: 300px;
}
